[submodule "products/pc-admin/common/frontend"]
	path = products/pc-admin/common/frontend
	url = https://github.com/BellisGit/frontend.git
[submodule "products/devstation/ui/common/frontend"]
	path = products/devstation/ui/common/frontend
	url = https://github.com/BellisGit/frontend.git
