[submodule "products/pc-admin/common/design-system"]
	path = products/pc-admin/common/design-system
	url = https://github.com/BellisGit/design-system.git
[submodule "products/devstation/ui/common/design-system"]
	path = products/devstation/ui/common/design-system
	url = https://github.com/BellisGit/design-system.git
