.perm-compose {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--el-bg-color-page);
}

.perm-compose-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background: var(--el-bg-color);
  border-bottom: 1px solid var(--el-border-color-extra-light);
  flex-shrink: 0;

  .header-left {
    display: flex;
    align-items: center;
  }

  .header-right {
    display: flex;
    gap: 10px;
  }
}

.perm-compose-content {
  flex: 1;
  overflow: hidden;
  padding: 10px;
}

.perm-compose-wrap {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 10px;
}

.perm-compose-left,
.perm-compose-middle,
.perm-compose-right {
  height: 100%;
  background-color: var(--el-bg-color);
  border-radius: 6px;
  border: 1px solid var(--el-border-color-light);
  overflow: hidden;
}

.perm-compose-left {
  width: 300px;
  flex-shrink: 0;
}

.perm-compose-middle {
  flex: 1;
  min-width: 0;
}

.perm-compose-right {
  width: 360px;
  flex-shrink: 0;
}

.perm-compose-middle,
.perm-compose-right {
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    font-size: 14px;
    padding: 0 10px;
    border-bottom: 1px solid var(--el-border-color-extra-light);
    flex-shrink: 0;

    .label {
      flex: 1;
      font-weight: 500;
    }

    .head-actions {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .head-stat {
      :deep(.el-statistic) {
        .el-statistic__head {
          font-size: 12px;
          color: var(--el-text-color-secondary);
        }
      }
    }
  }

  .compose-action {
    padding: 10px;
    border-bottom: 1px solid var(--el-border-color-extra-light);
    flex-shrink: 0;
  }

  .scope {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

