.skeleton {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--anticolorBgContainer, #fff);
  z-index: 100;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.2s ease-in;
}

.skeleton.show {
  display: flex;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
